header{
    text-align: center;
}
.calculadora{
    background-color: red;
    padding: 20px;
    width: 300px;
    height: 500px;
    font-size: 25px;
    border-radius: 25px;
}
.invisible{
    visibility: hidden;
}

.calculadora-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.calculadora td button{
    display: block;
    width: 70px;
    height: 70px;
    font-size: 25px;
}
#resultado{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    border-radius: 25px;
    background-color: white;
    
}